In [44]:
import pandas as pd

pd.set_option("display.max_rows",12)
pd.set_option('precision', 2)

df = pd.read_csv('data/climdiv-temp.csv')
df = df[['STDIV', 'YEAR', 'MONTH', 'PDSI']]
df = df.loc[(df.STDIV <= 48999) & (df.YEAR < 2018)]
df

        STDIV  YEAR  MONTH  PDSI
0        1001  1968      1  3.66
1        1001  1969      1 -1.11
2        1001  1970      1 -0.67
3        1001  1971      1  0.13
4        1001  1972      1  0.84
5        1001  1973      1  2.00
...       ...   ...    ...   ...
228473  48010  2012     12 -6.13
228474  48010  2013     12  2.03
228475  48010  2014     12 -0.19
228476  48010  2015     12  0.15
228477  48010  2016     12  0.30
228478  48010  2017     12 -1.56

[206400 rows x 4 columns]

In [77]:
start_year = [2016, 2013, 2011, 2006, 2001]
end_year = 2016

summary = pd.DataFrame(df.STDIV.unique()).rename(columns={0: 'STDIV'})

for start in start_year:

    period = range(start, end_year+1)

    mean = df.loc[df.YEAR.isin(period)].groupby('STDIV').PDSI.mean().round(2)
    mean = mean.to_frame().rename(columns={'PDSI': 'PDSI_MEAN_{}'.format(start)})

    std = df.loc[df.YEAR.isin(period)].groupby('STDIV').PDSI.std().round(2)
    std = std.to_frame().rename(columns={'PDSI': 'PDSI_STD_{}'.format(start)})

    temp = mean.merge(std, on='STDIV').reset_index()
    summary = summary.merge(temp, on='STDIV')

summary

,STDIV,PDSI_MEAN_2016,PDSI_STD_2016,PDSI_MEAN_2013,PDSI_STD_2013,PDSI_MEAN_2011,PDSI_STD_2011,PDSI_MEAN_2006,PDSI_STD_2006,PDSI_MEAN_2001,PDSI_STD_2001
0,1001,-1.47,1.00,0.46,1.52,0.35,1.51,-0.58,2.04,-0.07,2.01
1,1002,-2.22,1.53,0.07,1.94,0.05,1.79,-0.62,2.20,-0.20,2.10
2,1003,-1.44,1.23,0.22,1.42,-0.29,1.50,-0.60,2.07,0.11,2.17
3,1004,-2.40,1.72,0.20,2.14,-0.41,2.04,-0.88,2.46,-0.35,2.37
4,1005,-2.02,1.69,0.01,1.99,-0.99,2.21,-1.13,2.49,-0.70,2.37
5,1006,-1.40,1.40,-0.01,1.80,-0.61,1.90,-0.94,2.09,-0.37,2.16
...,...,...,...,...,...,...,...,...,...,...,...
338,48005,-2.27,0.81,-0.59,2.60,-0.59,2.93,-0.68,2.77,-1.78,2.90
339,48006,-1.73,1.20,1.63,3.33,1.40,3.78,1.22,3.57,0.06,3.52
340,48007,-0.94,1.12,0.59,2.70,0.38,3.36,0.05,3.13,-0.36,2.78
341,48008,0.69,2.40,0.82,3.33,0.38,3.74,-0.22,3.47,-1.21,3.31
342,48009,0.13,1.39,-0.52,2.70,-0.93,2.83,-1.22,2.96,-2.17,3.16
343,48010,-0.16,1.24,-0.74,2.78,-0.35,3.61,-0.72,3.54,-1.83,3.55

In [80]:
summary.to_csv('data/pdsi_summary.csv', index=False)