In [84]:
import pandas as pd

pd.set_option("display.max_rows",12)
pd.set_option('precision', 2)

df = pd.read_csv('data/climdiv-temp.csv')
df = df[['STDIV', 'YEAR', 'MONTH', 'PDSI']]
df = df.loc[(df.STDIV <= 48999) & (df.YEAR < 2018)]
df

        STDIV  YEAR  MONTH  PDSI
0        1001  1968      1  3.66
1        1001  1969      1 -1.11
2        1001  1970      1 -0.67
3        1001  1971      1  0.13
4        1001  1972      1  0.84
5        1001  1973      1  2.00
...       ...   ...    ...   ...
228473  48010  2012     12 -6.13
228474  48010  2013     12  2.03
228475  48010  2014     12 -0.19
228476  48010  2015     12  0.15
228477  48010  2016     12  0.30
228478  48010  2017     12 -1.56

[206400 rows x 4 columns]

In [85]:
end_year = 2016
intervals = [1, 3, 5, 10, 15]
start_year = [(end_year + 1) - i for i in intervals]

summary = pd.DataFrame(df.STDIV.unique()).rename(columns={0: 'STDIV'})

for start in start_year:

    period = range(start, end_year+1)

    mean = df.loc[df.YEAR.isin(period)].groupby('STDIV').PDSI.mean().round(2)
    mean = mean.to_frame().rename(columns={'PDSI': 'PDSI_MEAN_{}'.format(start)})

    std = df.loc[df.YEAR.isin(period)].groupby('STDIV').PDSI.std().round(2)
    std = std.to_frame().rename(columns={'PDSI': 'PDSI_STD_{}'.format(start)})

    temp = mean.merge(std, on='STDIV').reset_index()
    summary = summary.merge(temp, on='STDIV')

summary

,STDIV,PDSI_MEAN_2016,PDSI_STD_2016,PDSI_MEAN_2014,PDSI_STD_2014,PDSI_MEAN_2012,PDSI_STD_2012,PDSI_MEAN_2007,PDSI_STD_2007,PDSI_MEAN_2002,PDSI_STD_2002
0,1001,-1.47,1.00,0.30,1.59,0.27,1.55,-0.47,2.10,-0.20,1.99
1,1002,-2.22,1.53,-0.72,1.52,0.02,1.85,-0.52,2.28,-0.29,2.12
2,1003,-1.44,1.23,-0.24,1.32,-0.00,1.47,-0.53,2.15,0.02,2.19
3,1004,-2.40,1.72,-0.48,1.97,-0.09,2.08,-0.80,2.57,-0.42,2.42
4,1005,-2.02,1.69,-0.62,1.85,-0.57,2.18,-1.04,2.59,-0.76,2.42
5,1006,-1.40,1.40,-0.67,1.57,-0.21,1.82,-0.83,2.15,-0.47,2.20
...,...,...,...,...,...,...,...,...,...,...,...
338,48005,-2.27,0.81,-0.07,2.20,-1.13,2.87,-0.37,2.68,-1.58,2.88
339,48006,-1.73,1.20,1.94,3.24,0.73,3.77,1.64,3.46,0.10,3.62
340,48007,-0.94,1.12,1.25,2.21,-0.25,3.31,0.38,3.07,-0.35,2.87
341,48008,0.69,2.40,2.08,1.75,-0.16,3.88,0.15,3.40,-1.12,3.40
342,48009,0.13,1.39,0.30,1.38,-1.21,2.98,-0.97,2.92,-1.82,2.93
343,48010,-0.16,1.24,0.19,1.22,-1.32,3.14,-0.40,3.54,-1.62,3.56

In [86]:
summary.to_csv('data/pdsi_summary.csv', index=False)