In [19]:
import pandas as pd

pd.set_option("display.max_rows",12)

df = pd.read_csv('data/climdiv-temp.csv')
df = df[['STDIV', 'YEAR', 'MONTH', 'PDSI']]
df = df.loc[(df.STDIV <= 48999) & (df.YEAR < 2018)]
df

        STDIV  YEAR  MONTH  PDSI
0        1001  1968      1  3.66
1        1001  1969      1 -1.11
2        1001  1970      1 -0.67
3        1001  1971      1  0.13
4        1001  1972      1  0.84
5        1001  1973      1  2.00
...       ...   ...    ...   ...
228473  48010  2012     12 -6.13
228474  48010  2013     12  2.03
228475  48010  2014     12 -0.19
228476  48010  2015     12  0.15
228477  48010  2016     12  0.30
228478  48010  2017     12 -1.56

[206400 rows x 4 columns]

In [22]:
df.loc[df.YEAR.isin(range(2008, 2018))].groupby('STDIV').PDSI.mean()

STDIV
1001    -0.043250
1002    -0.068667
1003    -0.185500
1004    -0.376083
1005    -0.604167
1006    -0.451750
           ...
48005   -0.290083
48006    1.682833
48007    0.740917
48008    0.490583
48009    0.003000
48010   -0.016333
Name: PDSI, Length: 344, dtype: float64

In [23]:
df.loc[df.YEAR.isin(range(2008, 2018))].groupby('STDIV').PDSI.std()

STDIV
1001     1.904277
1002     2.139628
1003     1.994004
1004     2.394815
1005     2.498108
1006     2.077071
           ...
48005    2.608625
48006    3.454196
48007    2.736645
48008    3.164629
48009    2.896948
48010    3.269429
Name: PDSI, Length: 344, dtype: float64