In [44]:
import pandas as pd

pd.set_option("display.max_rows",12)
pd.set_option('precision', 2)

df = pd.read_csv('data/climdiv-temp.csv')
df = df[['STDIV', 'YEAR', 'MONTH', 'PDSI']]
df = df.loc[(df.STDIV <= 48999) & (df.YEAR < 2018)]
df

        STDIV  YEAR  MONTH  PDSI
0        1001  1968      1  3.66
1        1001  1969      1 -1.11
2        1001  1970      1 -0.67
3        1001  1971      1  0.13
4        1001  1972      1  0.84
5        1001  1973      1  2.00
...       ...   ...    ...   ...
228473  48010  2012     12 -6.13
228474  48010  2013     12  2.03
228475  48010  2014     12 -0.19
228476  48010  2015     12  0.15
228477  48010  2016     12  0.30
228478  48010  2017     12 -1.56

[206400 rows x 4 columns]

In [49]:
start = 2016
end = 2016
period = range(start, end+1)

mean = df.loc[df.YEAR.isin(period)].groupby('STDIV').PDSI.mean().round(2)
mean = mean.to_frame().rename(columns={'PDSI': 'PDSI_MEAN_{}-{}'.format(start, end)})

std = df.loc[df.YEAR.isin(period)].groupby('STDIV').PDSI.std().round(2)
std = std.to_frame().rename(columns={'PDSI': 'PDSI_STD_{}-{}'.format(start, end)})

summary = mean.merge(std, on='STDIV').reset_index()
summary

     STDIV  PDSI_MEAN_2016-2016  PDSI_STD_2016-2016
0     1001                -1.47                1.00
1     1002                -2.22                1.53
2     1003                -1.44                1.23
3     1004                -2.40                1.72
4     1005                -2.02                1.69
5     1006                -1.40                1.40
..     ...                  ...                 ...
338  48005                -2.27                0.81
339  48006                -1.73                1.20
340  48007                -0.94                1.12
341  48008                 0.69                2.40
342  48009                 0.13                1.39
343  48010                -0.16                1.24

[344 rows x 3 columns]

In [50]:
summary.to_csv('data/psdi_{}-{}.csv'.format(start, end), index=False)